<div class="form">
  <%= form_for :course, url: url, method: method do |f| %>
    <%= render 'shared/flash_messages' %>
    <%= render 'shared/collection_error_messages', collection: course %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Course Name' %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control', placeholder: 'Course Description' %>
    </div>
    <div class="form-group">
      <%= f.label :prerequisites %>
      <%= f.select :prerequisites, options_from_collection_for_select(@courses, :id, :name, course.prerequisites.ids), {}, {class: ['selectpicker', 'btn-dropdown'], data: {width: '100%'}, multiple: true} %>
    </div>
    <div class="form-group">
      <%= f.label :locations %>
      <%= f.select :locations, options_from_collection_for_select(@locations, :id, :name, course.locations.ids), {}, {class: 'selectpicker', data: {width: '100%'}, multiple: true} %>
    </div>
    <div class="form-group">
      <%= f.label :categories %>
      <%= f.select :categories, options_from_collection_for_select(@categories, :id, :name, course.categories.ids), {}, {type: 'select', class: 'selectpicker', data: {width: '100%'}, multiple: true} %>
    </div>
    <div class="form-group">
      <%= f.label :image %>
      <div class="form-control btn btn-default btn-file">
        <span class="glyphicon glyphicon-export" aria-hidden="true"></span> <span class="caption">Select an image to upload</span>
        <%= f.file_field :image, hidden: true %>
      </div>
    </div>
    <%= f.submit class: 'btn btn-primary btn-primary--wide', value: 'Create Course' %>
  <% end %>
</div>